@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans&family=Overpass:wght@300;600&family=Roboto+Mono:ital,wght@1,300&family=Sofia+Sans+Semi+Condensed:ital,wght@1,1&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.big_img {
   background-image: url('image/tractor.png');
   background-size: 100% 110%;
   width: 100%;
   height: 100vh;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
}
.left_nav {
    width: 25%;
    line-height: 100px;
    float: left;
    
}

.left_nav h2 {
    padding-left: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.right_nav {
    width: 75%;
    height: 100px;
    float: right;
}

.right_nav ul {
    margin-left: 240px;
}


.right_nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    line-height: 100px;
    margin-left: 40px;
    text-transform: capitalize;
}

#list{
    color: rgb(246, 167, 20);
}

.text {
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.text h4 {
    font-size: 14px;
}

.text h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 14px 0px;
}
.text h3 {
    font-size: 10px;
}


#btn_one {
    background-color: #895c5c;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid #f6afaf; 
}

#btn_two {
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid #fbafaf; 
    color: #333;
}

#btn_two:hover {
    color: rebeccapurple;
}